{% extends 'kyd_dashboard/kyd_base.html' %}

{% load static %}

{% block feature_css %}

<link rel="stylesheet" href="{% static 'kyd_dashboard/css/index.css' %}">

<style>
  .full-height {
    height: 100%;
  }

  .header {
    height: 50px;
  }

  #b2 {
    display: block;
  }

  text {
    font-size: 1.9rem
  }

  div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    color: rgb(5, 14, 145);
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(30% + 0.5vw + 0.5vh);
    font-weight: bold;
    z-index: 10;
    background: rgb(233, 235, 241);
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    /* box-shadow: 0 0px 10px black; */
  }
</style>

{% endblock %}

{% block feature %}

<div class="row">
  <div class="col-12 h-75">
    <div class="heading text-center">Outcome Indicators</div>
  </div>
</div>


<div class="row header h-75">
  <div class="col bg-info">
    <button type="button" class="btn btn-outline-dark m-1" onclick="location.href=`{% url 'maha-feat1' %}`">Previous
      Feature</button>
    <button type="button" class="btn btn-outline-dark m-1" onclick="location.href=`{% url 'maha-feat3' %}`">Next
      Feature</button>
    <button class='btn btn-outline-dark toggle m-1'>Compare</button>
  </div>
</div>



<div class="row bg-info mt-2">
  <div class="col-xs-8 col-sm-8 col-md-6 bg-info">

    <div class="dropdown m-1">

      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">

        Select Category

        <span class="selectedCategory"></span>

      </button>

      <div class="dropdown-menu category" aria-labelledby="dropdownMenuButton">

        <a class="dropdown-item" href="#">% Stunting</a>

        <a class="dropdown-item" href="#">% Wasting</a>

        <a class="dropdown-item" href="#">% Underweight</a>

        <a class="dropdown-item" href="#">% Low Birth Weight</a>

        <a class="dropdown-item" href="#">% Children completed 1 year immunization</a>

        <a class="dropdown-item" href="#">% Children breastfed at birth</a>

        <a class="dropdown-item" href="#">% Children exclusively breastfed</a>

        <a class="dropdown-item" href="#">% Children initiated complementary feeding(in the past 30 days)</a>

        <a class="dropdown-item" href="#">% Children (6-24 months) initiated appropriate complementary feeding</a>

        <a class="dropdown-item" href="#">% Anemic pregnant women</a>

        <a class="dropdown-item" href="#">% Pregnant women Tenatus Completed</a>

        <a class="dropdown-item" href="#">% Pregnant women had at least 1 ANC visit by delivery</a>

        <a class="dropdown-item" href="#">% Pregnant woment had at least 4 ANC visit by delivery</a>

        <a class="dropdown-item" href="#">% Pregnant women resting during pregnancy</a>

        <a class="dropdown-item" href="#">% Pregnant women eating extra meal during pregnancy</a>

        <a class="dropdown-item" href="#">% Pregnant women trimester 3 women counselled on immediate
          breastfeeding</a>

      </div>



    </div>

  </div>



  <div class="col-xs-4 col-sm-4 col-md-6 bg-info">
    <!-- 
    <div class="row header "> -->
    <div class="dropdown m-1" id="cat2">

      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">

        Select Category

        <span class="selectedCategory"></span>

      </button>

      <div class="dropdown-menu category2" aria-labelledby="dropdownMenuButton">

        <a class="dropdown-item" href="#">% Stunting</a>

        <a class="dropdown-item" href="#">% Wasting</a>

        <a class="dropdown-item" href="#">% Underweight</a>

        <a class="dropdown-item" href="#">% Low Birth Weight</a>

        <a class="dropdown-item" href="#">% Children completed 1 year immunization</a>

        <a class="dropdown-item" href="#">% Children breastfed at birth</a>

        <a class="dropdown-item" href="#">% Children exclusively breastfed</a>

        <a class="dropdown-item" href="#">% Children initiated complementary feeding(in the past 30 days)</a>

        <a class="dropdown-item" href="#">% Children (6-24 months) initiated appropriate complementary feeding</a>

        <a class="dropdown-item" href="#">% Anemic pregnant women</a>

        <a class="dropdown-item" href="#">% Pregnant women Tenatus Completed</a>

        <a class="dropdown-item" href="#">% Pregnant women had at least 1 ANC visit by delivery</a>

        <a class="dropdown-item" href="#">% Pregnant woment had at least 4 ANC visit by delivery</a>

        <a class="dropdown-item" href="#">% Pregnant women resting during pregnancy</a>

        <a class="dropdown-item" href="#">% Pregnant women eating extra meal during pregnancy</a>

        <a class="dropdown-item" href="#">% Pregnant women trimester 3 women counselled on immediate
          breastfeeding</a>

      </div>



    </div>
    <!-- </div> -->
  </div>


</div>

<div class="row text-center">
  <div class="col-12 ">
    <input type="text" id="monthSlider" name="somename" data-provide="slider" data-slider-ticks="[0, 1, 2, 3, 4, 5]"
      data-slider-ticks-labels='["Aug", "Sep", "Oct", "Nov", "Dec", "Jan"]' data-slider-min="0" data-slider-max="5"
      data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide">
  </div>
</div>

<div id='sw' class="spinner-wrapper">

  <div class="spinner"></div>

</div>

<div class="row">
  <div class="col-6 pl-0" id='b1'>
  </div>
  <div class="col-6" id='b2'>
  </div>
</div>

{% endblock %}

{% block feature_js %}

<script>

  const width = 900;
  const height = 1600;

  const tansitionDuration = 500;

  const bar1 = d3.select('#b1').append("svg").attr('id', 'svg1').attr('width', 900).attr('height', 1600).call(responsivefy);

  const bar2 = d3.select('#b2').append("svg").attr('id', 'svg2').attr('width', 900).attr('height', 1600).call(responsivefy);


  function responsivefy(svg) {

    // Container is the DOM element, svg is appended. 
    // Then we measure the container and find its 
    // aspect ratio.

    const container = d3.select(svg.node().parentNode),
      width = parseInt(svg.style('width'), 10),
      height = parseInt(svg.style('height'), 10),
      aspect = width / height;

    console.log("width&height", width, height)
    // Add viewBox attribute to set the value to initial size 
    // add preserveAspectRatio attribute to specify how to scale  
    // and call resize so that svg resizes on page load 
    svg.attr('viewBox', `0 0 ${width} ${height}`).
      attr('preserveAspectRatio', 'xMinYMin').
      call(resize);

    d3.select(window).on('resize.', resize);

    function resize() {
      const targetWidth = $(window).width();
      const targetheight = $(window).height();
      //var targetHeight = $(window).height();
      console.log("tw&h", targetWidth, targetheight);
      d3.select('#svg1').attr('width', targetWidth);
      d3.select('#svg1').attr('height', targetheight);
      d3.select('#svg2').attr('width', targetWidth);
      d3.select('#svg2').attr('height', targetheight);
    }
  }



  let sortBy = 'stunting_percent';

  let xValue = d => d.stunting_percent;

  let yValue = d => d.district_n;

  const marginLeft = { left: 280, top: 50, right: 0, bottom: 30 };

  const innerWidthLeft = width - marginLeft.left - marginLeft.right;

  const innerHeightLeft = height - marginLeft.top - marginLeft.bottom;

  const marginRight = { left: 280, top: 50, right: 0, bottom: 30 };

  const innerWidthRight = width - marginRight.left - marginRight.right;

  const innerHeightRight = height - marginRight.top - marginRight.bottom;


  const g1 = bar1.append('g').attr('transform', `translate(${marginLeft.left}, ${marginLeft.top})`);

  const g2 = bar2.append('g').attr('transform', `translate(${marginRight.left}, ${marginRight.top})`);

  const xScaleLeft = d3.scaleLinear().domain([0, 100]).range([0, innerWidthLeft]);
  const xScaleRight = d3.scaleLinear().domain([0, 100]).range([0, innerWidthRight]);

  let bar_height = 40;

  function filterCSV(csv, key, value) {
    var result = [];
    csv.forEach(function (val, idx, arr) {

      if (val[key] == value) {

        result.push(val)
      }
    })
    return result;
  }

  let tooltip = d3.select("body")
    .append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

  const drawLeft = data => {

    const yScale = d3.scaleBand().range([bar_height * data.length, 0]).padding(0.1);
    yScale.domain(data.map(yValue))

    let getColor;

    if (xValue == 'd=> d.stunting_percent' || xValue == 'd=> d.wasting_percent' || xValue == 'd=> d.underweight_percent' || xValue == 'd=> d.low_birth_weight_percent' || xValue == 'd => d.prnt_anwmic_wmn') {
      getColor = d3.scaleSequential().domain([d3.max(data, xValue), d3.min(data, xValue)])

        .interpolator(d3.interpolateRdYlGn);
    }
    else {
      getColor = d3.scaleSequential().domain([d3.min(data, xValue), d3.max(data, xValue)])

        .interpolator(d3.interpolateRdYlGn);
    }

    let chart = g1.selectAll("rect").data(data)

    let chartText = g1.selectAll('text').data(data)

    chart.exit().remove();

    chartText.exit().remove();

    chart.enter().append('rect')

      .attr('width', d => xScaleLeft(xValue(d)))

      .attr("y", d => yScale(d.district_n))

      .attr("height", yScale.bandwidth())

      .attr("fill", d => getColor(xValue(d)))
      .on("mouseover", d => {
        tooltip
          .transition()
          .duration(200)
          .style("opacity", 0.9);
        tooltip
          .html(d.district_n + " : " + (xValue(d)))
          .style("left", d3.event.pageX + "px")
          .style("top", d3.event.pageY - 30 + "px");
      })
      .on("mouseout", function (d) {
        tooltip
          .transition()
          .duration(500)
          .style("opacity", 0);
      });


    chartText.enter().append('text')
      .filter(function (d, i) { return i === 0 || i === (data.length - 1) })

      .text(d => xValue(d).toFixed(2))

      .attr('x', d => xScaleLeft(xValue(d)))

      .attr('y', d => yScale(d.district_n) + yScale.bandwidth() / 2 + 10)

      .attr("font-family", "sans-serif")

      .attr("font-size", "12px")

      .attr("fill", "blue")

      .attr("font-weight", "bold");




    chart.transition().duration(tansitionDuration)

      //.attr('x',d => x(xValue(d)))

      .attr('width', d => xScaleLeft(xValue(d)))

      .attr("y", d => yScale(d.district_n))

      .attr("height", yScale.bandwidth())
      .attr("fill", d => getColor(xValue(d)))

    chartText.transition().duration(tansitionDuration)
      .filter(function (d, i) { return i === 0 || i === (data.length - 1) })

      .text(d => xValue(d).toFixed(2))

      .attr('x', d => xScaleLeft(xValue(d)))

      .attr('y', d => yScale(d.district_n) + yScale.bandwidth() / 2 + 10);






    let xaxisLeft = g1.append('g').call(d3.axisBottom(xScaleLeft))

      .attr('transform', `translate(0, ${bar_height * data.length})`)



    xaxisLeft.selectAll("text").attr("font-size", "12px")
      .attr("font-weight", "bold")
      .style("text-anchor", "middle");




    let yaxisLeft = g1.append('g')

      .call(d3.axisLeft(yScale))

      .attr("font-size", "12px")

      .attr("font-weight", "bold");

  }







  //******************************



  const drawRight = data => {
    const yScale = d3.scaleBand().range([bar_height * data.length, 0]).padding(0.1);

    yScale.domain(data.map(yValue))

    let getColor;

    if (xValue == 'd=> d.stunting_percent' || xValue == 'd=> d.wasting_percent' || xValue == 'd=> d.underweight_percent' || xValue == 'd=> d.low_birth_weight_percent' || xValue == 'd => d.prnt_anwmic_wmn') {
      getColor = d3.scaleSequential().domain([d3.max(data, xValue), d3.min(data, xValue)])

        .interpolator(d3.interpolateRdYlGn);
    }
    else {
      getColor = d3.scaleSequential().domain([d3.min(data, xValue), d3.max(data, xValue)])

        .interpolator(d3.interpolateRdYlGn);
    }



    let chart = g2.selectAll("rect").data(data)

    let chartText = g2.selectAll('text').data(data)

    chart.exit().remove();

    chartText.exit().remove();

    chart.enter().append('rect')

      //.attr('x',d => x(xValue(d)))
      .attr('width', d => xScaleRight(xValue(d)))

      .attr("y", d => yScale(d.district_n))

      .attr("height", yScale.bandwidth())

      .attr("fill", d => getColor(xValue(d)))
      .on("mouseover", d => {
        tooltip
          .transition()
          .duration(200)
          .style("opacity", 0.9);
        tooltip
          .html(d.district_n + " : " + (xValue(d)))
          .style("left", d3.event.pageX + "px")
          .style("top", d3.event.pageY - 30 + "px");
      })
      .on("mouseout", function (d) {
        tooltip
          .transition()
          .duration(500)
          .style("opacity", 0);
      });

    chartText.enter().append('text')
      .filter(function (d, i) { return i === 0 || i === (data.length - 1) })

      .text(d => xValue(d).toFixed(2))

      .attr('x', d => xScaleRight(xValue(d)))

      .attr('y', d => yScale(d.district_n) + yScale.bandwidth() / 2 + 10)

      .attr("font-family", "sans-serif")

      .attr("font-size", "12px")

      .attr("fill", "blue")

      .attr("font-weight", "bold");




    chart.transition().duration(tansitionDuration)

      //.attr('x',d => x(xValue(d)))

      .attr('width', d => xScaleRight(xValue(d)))

      .attr("y", d => yScale(d.district_n))

      //.attr("height", y.bandwidth())
      .attr("fill", d => getColor(xValue(d)));

    chartText.transition().duration(tansitionDuration)
      .filter(function (d, i) { return i === 0 || i === (data.length - 1) })

      .text(d => xValue(d).toFixed(2))

      .attr('x', d => xScaleRight(xValue(d)))

      .attr('y', d => yScale(d.district_n) + yScale.bandwidth() / 2 + 10);


    let xaxisRight = g2.append('g').call(d3.axisBottom(xScaleRight))

      .attr('transform', `translate(0, ${bar_height * data.length})`);



    xaxisRight.selectAll("text").attr("font-size", "12px")
      .attr("font-weight", "bold")
      .style("text-anchor", "middle");




    let yaxisRight = g2.append('g')

      .call(d3.axisLeft(yScale))

      .attr("font-size", "12px")

      .attr("font-weight", "bold");

  }



  const monthwise = (data) => {

    let listdata = { "Nov": [], "Dec": [], "Jan": [] }

    data.forEach(d => {

      var temp = {};

      temp['district_n'] = d.district_n;

      temp['stunting_percent'] = +d.stunting_percent;

      temp['wasting_percent'] = +d.wasting_percent;

      temp['underweight_percent'] = +d.underweight_percent;

      temp['low_birth_weight_percent'] = +d.low_birth_weight_percent;

      temp['prnt_child_1yr_cmpltd_immunzt'] = +d.prnt_child_1yr_cmpltd_immunzt;

      temp['prnt_chld_bf_at_birth'] = +d.prnt_chld_bf_at_birth;

      temp['prnt_chld_excly_bf'] = +d.prnt_chld_excly_bf;

      temp['prnt_chld_intd_cf_past30d'] = +d.prnt_chld_intd_cf_past30d;

      temp['prnt_chld_6to24mnths_intd_cf'] = +d.prnt_chld_6to24mnths_intd_cf;

      temp['prnt_anwmic_wmn'] = +d.prnt_anwmic_wmn;

      temp['prnt_tenatus_cmpltd'] = +d.prnt_tenatus_cmpltd;

      temp['prnt_wmn_1_anc_vst_dlvry'] = +d.prnt_wmn_1_anc_vst_dlvry;

      temp['prnt_wmn_4_anc_vst_dlvry'] = +d.prnt_wmn_4_anc_vst_dlvry;

      temp['prnt_wmn_rstg_drg_prgncy'] = +d.prnt_wmn_rstg_drg_prgncy;

      temp['prnt_wmn_etg_xtr_ml_drng_prgncy'] = +d.prnt_wmn_etg_xtr_ml_drng_prgncy;

      temp['prnt_trmstr_3wmn_cnsld_imdtbf'] = +d.prnt_trmstr_3wmn_cnsld_imdtbf;

      listdata[d.month_n].push(temp);

    })

    return listdata;

  }



  const selectData = (val, monthwiseData, sortBy) => {

    if (val === "November") {

      monthwiseData.Nov = sortData(monthwiseData.Nov, sortBy);

      return monthwiseData.Nov;

    } else if (val === "December") {

      monthwiseData.Dec = sortData(monthwiseData.Dec, sortBy);

      return monthwiseData.Dec;

    } else if (val === 'January') {

      monthwiseData.Jan = sortData(monthwiseData.Jan, sortBy);

      return monthwiseData.Jan

    }

  }

  const sortData = (data, parameter) => {

    let sortedData = data.slice().sort((a, b) => d3.descending(a[parameter], b[parameter]))

    return sortedData;

  }



  //   d3.csv("{% static 'data/csv/f2.csv'%}").then(data=>{
  data_from_django = {{ data | safe }};

  var data = []

  data_from_django.forEach(element => {

    data.push(element.fields);

  });

  data.forEach(d => {
    d.district_n = d.district_n;
    d.stunting_percent = +d.stunting_percent;
    d.wasting_percent = +d.wasting_percent;
    d.underweight_percent = +d.underweight_percent;
    d.low_birth_weight_percent = +d.low_birth_weight_percent;
    d.prnt_child_1yr_cmpltd_immunzt = +d.prnt_child_1yr_cmpltd_immunzt;
    d.prnt_chld_bf_at_birth = +d.prnt_chld_bf_at_birth;
    d.prnt_chld_excly_bf = +d.prnt_chld_excly_bf;
    d.prnt_chld_intd_cf_past30d = +d.prnt_chld_intd_cf_past30d;
    d.prnt_chld_6to24mnths_intd_cf = +d.prnt_chld_6to24mnths_intd_cf;
    d.prnt_anwmic_wmn = +d.prnt_anwmic_wmn;
    d.prnt_tenatus_cmpltd = +d.prnt_tenatus_cmpltd;
    d.prnt_wmn_1_anc_vst_dlvry = +d.prnt_wmn_1_anc_vst_dlvry;
    d.prnt_wmn_4_anc_vst_dlvry = +d.prnt_wmn_4_anc_vst_dlvry;
    d.prnt_wmn_rstg_drg_prgncy = +d.prnt_wmn_rstg_drg_prgncy;
    d.prnt_wmn_etg_xtr_ml_drng_prgncy = +d.prnt_wmn_etg_xtr_ml_drng_prgncy;
    d.prnt_trmstr_3wmn_cnsld_imdtbf = +d.prnt_trmstr_3wmn_cnsld_imdtbf;
    d.month_n = d.month_n;

  });


  var tickLabels = ["Aug", "Sep", "Oct", "Nov", "Dec", "Jan"]

  $('#monthSlider').slider().on('slideStop', function (ev) {
    var val = tickLabels[ev.value];
    filterdata = filterCSV(data, 'month_n', val);
    monthData = sortData(filterdata, sortBy);
    drawLeft(monthData);
    drawRight(monthData);
  });


  monthSelect = tickLabels[$('#monthSlider').slider('getValue')]
  augData = filterCSV(data, 'month_n', monthSelect);
  augSortedData = sortData(augData, sortBy);
  drawLeft(augSortedData);
  drawRight(augSortedData);

  $(".month a").click(function () {

    $(this).parents(".dropdown").find('.btn').html($(this).text());
    valMonth = $(this).text();
    filterdata = filterCSV(data, 'month_n', valMonth);
    monthData = sortData(filterdata, sortBy);
    drawLeft(monthData);
    drawRight(monthData);

  });



  $(".category a").click(function () {

    $(this).parents(".dropdown").find('.btn').html($(this).text());

    let valCategory = $(this).text();

    switch (valCategory) {

      case "% Stunting": xValue = d => d.stunting_percent; sortBy = 'stunting_percent'; break;

      case "% Wasting": xValue = d => d.wasting_percent; sortBy = 'wasting_percent'; break;

      case "% Underweight": xValue = d => d.underweight_percent; sortBy = 'underweight_percent'; break;

      case "% Low Birth Weight": xValue = d => d.low_birth_weight_percent; sortBy = 'low_birth_weight_percent'; break;

      case "% Children completed 1 year immunization": xValue = d => d.prnt_child_1yr_cmpltd_immunzt; sortBy = 'prnt_child_1yr_cmpltd_immunzt'; break;

      case "% Children breastfed at birth": xValue = d => d.prnt_chld_bf_at_birth; sortBy = 'prnt_chld_bf_at_birth'; break;

      case "% Children exclusively breastfed": xValue = d => d.prnt_chld_excly_bf; sortBy = 'prnt_chld_excly_bf'; break;

      case "% Children initiated complementary feeding(in the past 30 days)": xValue = d => d.prnt_chld_intd_cf_past30d; sortBy = 'prnt_chld_intd_cf_past30d'; break;

      case "% Children (6-24 months) initiated appropriate complementary feeding": xValue = d => d.prnt_chld_6to24mnths_intd_cf; sortBy = 'prnt_chld_6to24mnths_intd_cf'; break;

      case "% Anemic pregnant women": xValue = d => d.prnt_anwmic_wmn; sortBy = 'prnt_anwmic_wmn'; break;

      case "% Pregnant women Tenatus Completed": xValue = d => d.prnt_tenatus_cmpltd; sortBy = 'prnt_tenatus_cmpltd'; break;

      case "% Pregnant women had at least 1 ANC visit by delivery": xValue = d => d.prnt_wmn_1_anc_vst_dlvry; sortBy = 'prnt_wmn_1_anc_vst_dlvry'; break;

      case "% Pregnant woment had at least 4 ANC visit by delivery": xValue = d => d.prnt_wmn_4_anc_vst_dlvry; sortBy = 'prnt_wmn_4_anc_vst_dlvry'; break;

      case "% Pregnant women resting during pregnancy": xValue = d => d.prnt_wmn_rstg_drg_prgncy; sortBy = 'prnt_wmn_rstg_drg_prgncy'; break;

      case "% Pregnant women eating extra meal during pregnancy": xValue = d => d.prnt_wmn_rstg_drg_prgncy; sortBy = 'prnt_wmn_rstg_drg_prgncy'; break;

      case "% Pregnant women trimester 3 women counselled on immediate breastfeeding": xValue = d => d.prnt_trmstr_3wmn_cnsld_imdtbf; sortBy = 'prnt_trmstr_3wmn_cnsld_imdtbf'; break;

    }

    var valMonth = tickLabels[$('#monthSlider').slider('getValue')];
    console.log('mon', valMonth);
    filterdata = filterCSV(data, 'month_n', valMonth);
    monthData = sortData(filterdata, sortBy);
    drawLeft(monthData);



  });



  $(".category2 a").click(function () {

    $(this).parents(".dropdown").find('.btn').html($(this).text());

    let valCategory = $(this).text();

    switch (valCategory) {

      case "% Stunting": xValue = d => d.stunting_percent; sortBy = 'stunting_percent'; break;

      case "% Wasting": xValue = d => d.wasting_percent; sortBy = 'wasting_percent'; break;

      case "% Underweight": xValue = d => d.underweight_percent; sortBy = 'underweight_percent'; break;

      case "% Low Birth Weight": xValue = d => d.low_birth_weight_percent; sortBy = 'low_birth_weight_percent'; break;

      case "% Children completed 1 year immunization": xValue = d => d.prnt_child_1yr_cmpltd_immunzt; sortBy = 'prnt_child_1yr_cmpltd_immunzt'; break;

      case "% Children breastfed at birth": xValue = d => d.prnt_chld_bf_at_birth; sortBy = 'prnt_chld_bf_at_birth'; break;

      case "% Children exclusively breastfed": xValue = d => d.prnt_chld_excly_bf; sortBy = 'prnt_chld_excly_bf'; break;

      case "% Children initiated complementary feeding(in the past 30 days)": xValue = d => d.prnt_chld_intd_cf_past30d; sortBy = 'prnt_chld_intd_cf_past30d'; break;

      case "% Children (6-24 months) initiated appropriate complementary feeding": xValue = d => d.prnt_chld_6to24mnths_intd_cf; sortBy = 'prnt_chld_6to24mnths_intd_cf'; break;

      case "% Anemic pregnant women": xValue = d => d.prnt_anwmic_wmn; sortBy = 'prnt_anwmic_wmn'; break;

      case "% Pregnant women Tenatus Completed": xValue = d => d.prnt_tenatus_cmpltd; sortBy = 'prnt_tenatus_cmpltd'; break;

      case "% Pregnant women had at least 1 ANC visit by delivery": xValue = d => d.prnt_wmn_1_anc_vst_dlvry; sortBy = 'prnt_wmn_1_anc_vst_dlvry'; break;

      case "% Pregnant woment had at least 4 ANC visit by delivery": xValue = d => d.prnt_wmn_4_anc_vst_dlvry; sortBy = 'prnt_wmn_4_anc_vst_dlvry'; break;

      case "% Pregnant women resting during pregnancy": xValue = d => d.prnt_wmn_rstg_drg_prgncy; sortBy = 'prnt_wmn_rstg_drg_prgncy'; break;

      case "% Pregnant women eating extra meal during pregnancy": xValue = d => d.prnt_wmn_rstg_drg_prgncy; sortBy = 'prnt_wmn_rstg_drg_prgncy'; break;

      case "% Pregnant women trimester 3 women counselled on immediate breastfeeding": xValue = d => d.prnt_trmstr_3wmn_cnsld_imdtbf; sortBy = 'prnt_trmstr_3wmn_cnsld_imdtbf'; break;

    }

    var valMonth = tickLabels[$('#monthSlider').slider('getValue')];
    console.log('mon', valMonth);
    filterdata = filterCSV(data, 'month_n', valMonth);
    monthData = sortData(filterdata, sortBy);
    drawRight(monthData);

  });

  $(".toggle").click(function () {

    $(this).text($(this).text() == 'Compare' ? 'Hide' : 'Compare');

    let x = document.getElementById("b2");
    let y = document.getElementById("cat2");

    if (x.style.display === "none" && y.style.display === "none") {

      x.style.display = "block";

      y.style.display = "block";
      x.text = "Hide";

    } else {

      x.style.display = "none";
      y.style.display = "none";
      x.text = "Show";

    }

    $(".category2 a").click(function () {

      var valCategory = $(this).text();

      $(this).parents('.dropdown').find('.dropdown-toggle').html(valCategory + ' <span class="selectedCategory2"></span>');

    });



    //trigger event

    $(".category2 a").first().trigger('click');



  });



  $(window).on('load', function () {

    document.getElementById("b2").style.display = 'none';
    document.getElementById("cat2").style.display = 'none';

    document.getElementById('sw').style.display = 'none';

    $(".month a").click(function () {

      var valMonth = $(this).text();

      $(this).parents('.dropdown').find('.dropdown-toggle').html(valMonth + ' <span class="selectedMonth"></span>');

    });



    $(".category a").click(function () {

      var valCategory = $(this).text();

      $(this).parents('.dropdown').find('.dropdown-toggle').html(valCategory + ' <span class="selectedCategory"></span>');

    });



    //trigger event

    $('.month a').first().trigger('click');

    $(".category a").first().trigger('click');

  })

</script>

{% endblock %}