{% extends 'dashboard/dash_base.html' %}

{% load static %}
{% block feature_css %}
<link rel="stylesheet" href="{% static 'kyd_dashboard/css/index.css' %}">
<style>
  .table {
    width: 50%;
    padding: 1000px;
    border-radius: 1px;
  }

  th {
    background: skyblue;
    font-size: 15px;
    font-weight: bold;
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
    text-align: left;
    width: 10%;
    text-align: center;
  }

  td,
  th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: right;
    width: 10%;
  }

  th:nth-child(odd) {
    background-color: #f2f2f2;
  }
</style>
{% endblock %}
{% block feature %}

<div class='heading text-dark mt-2 text-center'>State Profile</div>
<div class="row bg-info">
  <div class="col-xs-12">
    <button type="button" class="btn btn-outline-dark m-1" onclick="location.href=`{% url 'maha-feat5' %}`">Previous
      Feature</button>
      <button type="button" class="btn btn-outline-dark m-1" onclick="location.href=`{% url 'maha-feat6so' %}`">Next
        Feature</button>
  </div>
</div>

<div class="row text-center">
  <div class="col-12">
    <input type="text" id="monthSlider" name="somename" data-provide="slider" data-slider-ticks="[0, 1, 2, 3, 4, 5]"
      data-slider-ticks-labels='["Aug", "Sep", "Oct", "Nov", "Dec", "Jan"]' data-slider-min="0" data-slider-max="5"
      data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide">
  </div>
</div>

<div class="row mt-100">
  <div class='col-7 heading text-dark  text-center'>Outcome Indicators</div>
</div>

<div style="color:black;" id="table" class="col-12">

</div>

<div class="row mt-100">
  <div class='col-7 heading text-dark mt-2 text-center'>Performance Indicators</div>
</div>


<div style="color:black" id="table1" class="col-12">


</div>



{% endblock %}


{% block feature_js %}

<script>
  function filterCSV(csv, key, value) {
    var result = [];
    csv.forEach(function (val, idx, arr) {

      if (val[key] == value) {

        result.push(val)
      }
    })
    return result;
  }

  const render = data => {
    const dropdownChange = () => {
      var sel = document.getElementById('opt');
      val = document.getElementById("opt").value
    }

    //info-div

    $(".drop-month a").click(function () {
      var val = $(this).text();
      $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedCategory"></span>');
      $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
      if (val === 'November') {
        month_hack = 'Nov'
      } else if (val === 'December') {
        month_hack = 'Dec'
      } else if (val === 'January') {
        month_hack = 'Jan'
      }
    })
  }
  const monthwise = (data) => {

    data.forEach(d => {
      d.state_n = d.state_n;
      d.mdrtly_stntd = +d.mdrtly_stntd;
      d.svrly_stntd = +d.svrly_stntd;
      d.svrly_wstd = +d.svrly_wstd;
      d.mdrtly_wstd = +d.mdrtly_wstd;
      d.svrly_uw = +d.svrly_uw;
      d.mdrtly_uw = +d.mdrtly_uw;
      d.nb_lbw = +d.nb_lbw;
      d.wasting_percent = d.wasting_percent;
    });
    var aproperty = [];
    var sproperty = [];
    var oproperty = [];
    data.forEach(d => {
      var temp = {}
      temp['state_n'] = d.state_n;
      temp['nb_lbw'] = d.nb_lbw;
      temp['wasting_percent'] = d.wasting_percent;
      temp['stunting_percent'] = d.stunting_percent;
      temp['underweight_percent'] = d.underweight_percent;
      temp['low_birth_weight_percent'] = d.low_birth_weight_percent;
      temp['stntd_chld'] = d.stntd_chld;
      temp['wstd_chld'] = d.wstd_chld;
      temp['uw_chld'] = d.uw_chld;
      temp['prnt_anwmic_wmn'] = d.prnt_anwmic_wmn;
      temp['prnt_chld_bf_at_birth'] = d.prnt_chld_bf_at_birth;
      temp['prnt_wmn_etg_xtr_ml_drng_prgncy'] = d.prnt_wmn_etg_xtr_ml_drng_prgncy;
      temp['prnt_chld_excly_bf'] = d.prnt_chld_excly_bf;
      temp['prnt_4_anc_vst_dlvry'] = d.prnt_4_anc_vst_dlvry;
      temp['prnt_chld_rcvg_cf_wid_adq_dt_dvsty'] = d.prnt_chld_rcvg_cf_wid_adq_dt_dvsty;
      temp['prnt_chld_cf_wid_adq_dt_qnty'] = d.prnt_chld_cf_wid_adq_dt_qnty;
      temp['per_no_chld_cf_wid_appr_hndwhg_bfr_fdg'] = d.per_no_chld_cf_wid_appr_hndwhg_bfr_fdg;
      temp['prnt_trmstr_3wmn_cnsld_imdtbf'] = d.prnt_trmstr_3wmn_cnsld_imdtbf;
      temp['prnt_wmn_rstg_drg_prgncy'] = d.prnt_wmn_rstg_drg_prgncy;
      temp['prnt_chld_intd_cf_p30d'] = d.prnt_chld_intd_cf_p30d;
      temp['prnt_intd_cf_6to24mnth_child'] = d.prnt_intd_cf_6to24mnth_child;
      temp['prnt_child_1yr_immnztn'] = d.prnt_child_1yr_immnztn;
      if (d.month_n == "Nov") {
        aproperty.push(temp);
      } else if (d.month_n == "Dec") {
        sproperty.push(temp);
      } else if (d.month_n == "Jan") {
        oproperty.push(temp);
      }
      //  console.log( data)
    })

    var listdata = [aproperty, sproperty, oproperty]
    console.log(listdata)

    return listdata;
  }

  /////
  data_from_django = {{ data | safe }};
  var data = []
  data_from_django.forEach(element => {
    data.push(element.fields);
  });

  data.forEach(d => {
    d.state_n = d.state_n;
    d.mdrtly_stntd = +d.mdrtly_stntd;
    d.svrly_stntd = +d.svrly_stntd;
    d.svrly_wstd = +d.svrly_wstd;
    d.mdrtly_wstd = +d.mdrtly_wstd;
    d.svrly_uw = +d.svrly_uw;
    d.mdrtly_uw = +d.mdrtly_uw;
    d.nb_lbw = +d.nb_lbw;
    d.wasting_percent = +d.wasting_percent;
    d.stunting_percent = +d.stunting_percent;
    d.underweight_percent = +d.underweight_percent;
    d.low_birth_weight_percent = +d.low_birth_weight_percent;
    d.stntd_chld = +d.stntd_chld;
    d.wstd_chld = +d.wstd_chld;
    d.uw_chld = +d.uw_chld;
    d.prnt_anwmic_wmn = +d.prnt_anwmic_wmn;
    d.prnt_chld_bf_at_birth = +d.prnt_chld_bf_at_birth;
    d.prnt_wmn_etg_xtr_ml_drng_prgncy = +d.prnt_wmn_etg_xtr_ml_drng_prgncy;
    d.prnt_chld_excly_bf = +d.prnt_chld_excly_bf;
    d.prnt_4_anc_vst_dlvry = +d.prnt_4_anc_vst_dlvry;
    d.prnt_chld_rcvg_cf_wid_adq_dt_dvsty = +d.prnt_chld_rcvg_cf_wid_adq_dt_dvsty;
    d.prnt_chld_cf_wid_adq_dt_qnty = +d.prnt_chld_cf_wid_adq_dt_qnty;
    d.per_no_chld_cf_wid_appr_hndwhg_bfr_fdg = +d.per_no_chld_cf_wid_appr_hndwhg_bfr_fdg;
    d.prnt_trmstr_3wmn_cnsld_imdtbf = +d.prnt_trmstr_3wmn_cnsld_imdtbf;
    d.prnt_wmn_rstg_drg_prgncy = +d.prnt_wmn_rstg_drg_prgncy;
    d.prnt_chld_intd_cf_p30d = +d.prnt_chld_intd_cf_p30d;
    d.prnt_intd_cf_6to24mnth_child = +d.prnt_intd_cf_6to24mnth_child;
    d.prnt_child_1yr_immnztn = +d.prnt_child_1yr_immnztn;
  });

  console.log(data);
  //   d3.csv("{% static 'data/csv/f4.csv'%}").then(data=>{
  monthwiseData = monthwise(data);

  d3.select("#monthdropdown")
    .on("change", () => {
      let val = document.getElementById("monthdropdown").value
      console.log(val);
      let tableData = tbData(val, monthwiseData);
      svg.selectAll("*").remove();
      console.log(tableData);
      render(tableData);
    });

  var tickLabels = ["Aug", "Sep", "Oct", "Nov", "Dec", "Jan"]

  $('#monthSlider').slider().on('slideStop', function (ev) {
    var val = tickLabels[ev.value];
    filterdata = filterCSV(data, 'month_n', val);
    tableData = tables(filterdata);
    console.log(tableData);
    render(tableData);
  });

  $(".month a").click(function () {
    var val = $(this).text();
    filterdata = filterCSV(data, 'month_n', val);
    tableData = tables(filterdata);
    console.log(tableData);
    render(tableData);
  })
  monthSelect = tickLabels[$('#monthSlider').slider('getValue')];
  augData = filterCSV(data, 'month_n', monthSelect);
  tables(augData);


  // });
  $(function () {
    //bind event
    $(".month a").click(function () {
      var valMonth = $(this).text();
      $(this).parents('.dropdown').find('.dropdown-toggle').html(valMonth + ' <span class="selectedMonth"></span>');
    });
    $('.month a').first().trigger('click');
    $(".category a").first().trigger('click');

  });


  const tbData = (val, monthwiseData) => {
    console.log(monthwiseData);
    if (val == "November") {
      return [tables(monthwiseData[0])];
    } else if (val == "December") {
      return [tables(monthwiseData[1])];
    } else if (val == 'January') {
      return [tables(monthwiseData[2])];
    }

  }




  function tables(data) {
    $(".hello").remove();
    $(".hello1").remove();


    var tbdata = [];

    data.forEach(d => {
      var tbd = {}
      tbd['State'] = d.state_n;
      tbd['Stunted Childern'] = d.stntd_chld;
      tbd['Stunting Percent(%)'] = d.stunting_percent;
      tbd['Wasted Childern'] = d.wstd_chld;
      tbd['Wasting Percent(%)'] = d.wasting_percent;
      tbd['Underweight Childern'] = d.uw_chld;
      tbd['Underweight Percent(%)'] = d.underweight_percent;
      tbd['No. of Newborn with Low Birth Weight'] = d.nb_lbw;
      tbd['Low Birth Weight Percent(%)'] = d.low_birth_weight_percent;


      tbdata.push(tbd);
    });
    var table = d3.select('div#table').append('table').attr('class', 'hello');

    var titles = d3.keys(tbdata[0]);

    var headers = table.append('thead').append('tr')
      .selectAll('th')
      .data(titles).enter()
      .append('th')
      .text(function (d) {
        return d;
      });


    var rows = table.append('tbody').selectAll('tr')
      .data(tbdata).enter()
      .append('tr');

    rows.selectAll('td')

      .data(function (d) {
        return titles.map(function (k) {
          return { 'value': d[k], 'name': k };
        });
      }).enter()
      .append('td')

      .text(function (d) {
        return d.value;
      });


    var tbdata1 = [];

    data.forEach(d => {
      var tbdt = {}
      tbdt['State'] = d.state_n;
      tbdt['Anemic women(%)'] = d.prnt_anwmic_wmn;
      tbdt['Pregnant Women had 4 ANC Visit(%)'] = d.prnt_4_anc_vst_dlvry;
      tbdt['Pregnant Women resting during Pregnancy(%)'] = d.prnt_wmn_rstg_drg_prgncy;
      tbdt['Pregnant Women eating extra meal during Pregnancy(%)'] = d.prnt_wmn_etg_xtr_ml_drng_prgncy;
      tbdt['Pregnant Women Counselled for BF in Trimester(%)'] = d.prnt_trmstr_3wmn_cnsld_imdtbf;
      tbdt['Children Breastfeed at Birth(%)'] = d.prnt_chld_bf_at_birth;
      tbdt['Children (6-8 months) initiated CF(%)'] = d.prnt_chld_intd_cf_p30d;
      tbdt['Children (6-24 months) initiated CF(%)'] = d.prnt_intd_cf_6to24mnth_child;
      tbdt['Children(0-6) exclusively Breastfed(%)'] = d.prnt_chld_excly_bf;
      tbdt['Children receiving CF with Diet Diversity(%)'] = d.prnt_chld_rcvg_cf_wid_adq_dt_dvsty;
      tbdt['Children receiving CF with Diet Quantity(%)'] = d.prnt_chld_cf_wid_adq_dt_qnty;
      tbdt['Children receiving CF with Appropriate Hand Washing(%)'] = d.per_no_chld_cf_wid_appr_hndwhg_bfr_fdg;
      tbdt['Children with 1 year completed Immunization(%)'] = d.prnt_child_1yr_immnztn;

      tbdata1.push(tbdt);
    });

    var table = d3.select('div#table1').append('table').attr('class', 'hello1');

    var titles = d3.keys(tbdata1[0]);

    var headers = table.append('thead').append('tr')
      .selectAll('th')
      .data(titles).enter()
      .append('th')
      .text(function (d) {
        return d;
      });


    var rows = table.append('tbody').selectAll('tr')
      .data(tbdata1).enter()
      .append('tr');

    rows.selectAll('td')

      .data(function (d) {
        return titles.map(function (k) {
          return { 'value': d[k], 'name': k };
        });
      }).enter()
      .append('td')

      .text(function (d) {
        return d.value;
      });


  }

</script>
{% endblock %}